{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title> NetStar</title>
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="title">
        NetStar</div>
    <form action="#" method="post">
        {% if password_flag == true %}
        <div class="field">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        {% endif %}
        {% if password_flag == false %}
        <div class="field">
            <label><p style="color:red;">Account has no password<br> Enter a password for your account:</p></label>
        </div>
        <div class="field">
            <input type="password" name="new_password" required>
            <label>Password</label>
        </div>
            <div class="field">
            <input type="password" name="confirmation" required>
            <label>Password Confirmation</label>
        </div>
        {% endif %}
        {% if error_msg != "" %}
            <div class="field">
                <label><p style="color:red;">{{ error_msg }}</p></label>
            </div>
        {% endif %}
        <div class="field">
            <input type="submit" value="Next">
        </div>
    </form>
</div>
{% endblock %}