{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<title> NetStar</title>
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="title">
        NetStar</div>
    <form action="#" method="post">
        <div class="field">
            <div class="box">
                <select name="employee_id_pk" required>
                    <option value="" disabled selected>Select your name</option>
                    {% for employee in employees %}
                    <option value={{ loop.index }} >{{ employee }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field">
            <input type="submit" value="Next">
        </div>
    </form>
</div>
{% endblock %}