{% extends 'base.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
{% endblock %}
{% block body %}
<header class="masthead bg-primary text-white text-center" style="background: linear-gradient(83deg, rgba(0, 0, 0, 1) 0%, #359f60 100%);">
    <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="../static/assets/img/profile.png" />
        <h1>Welcome, {{ user_name }}!</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">We are happy to see you!</h2>
        <h2 class="font-weight-light mb-0">You are our client since {{ registration_date }}.</h2>
        <h2 class="font-weight-light mb-0">You have {{ account_credits }} credits on your account.</h2>
        {% if spent_hours !=0 or spent_minutes != 0 %}
            <h2 class="font-weight-light mb-0">You have spent {{ spent_hours }} hours
                {% if spent_minutes !=0 %}
                and {{ spent_minutes }} minutes
                {% endif %}
                in our Internet Caffe.
            </h2>
        {% endif %}
        {% if favorite_computer != 0 %}
            <h2 class="font-weight-light mb-0">Your favorite computer is PC{{ favorite_computer }}
            {%  if favorite_computer_room != "" %}
                ({{ favorite_computer_room }})
            {% endif %}
            .</h2>
        {% endif %}
    </div>
    <br><br>
    <div class="container">
        <div class="text-center mt-4"><a class="btn btn-outline-light btn-xl" href="/profile/reservation"><i
                    class="fa fa-angle-double-right mr-2"></i><span>Proceed to reservation!</span></a><a
                class="btn btn-outline-light btn-xl" href="/profile/account"><i class="icon ion-android-settings mr-2"></i><span>Edit
                    account information</span></a></div>
    </div>
</header>
{% endblock %}

</html>