{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title> NetStar</title>
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="title">
        Join us</div>
    <form action="#" method="post">
        <div class="field">
            <input type="text" name="email" required>
            <label>E-Mail</label>
        </div>
        <div class="field">
            <input type="text" name="username" required>
            <label>User name</label>
        </div>
        <div class="field">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>
        <br>
        <div class="field">
            <input type="submit" value="Register">
        </div>
        {% if error_message == true %}
            <div class="field">
                <label><p style="color:red;">Please enter valid credentials.</p></label>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}